Makefile
config.log
config.status
gvars3/config.h
libGVars3.a
libGVars3.so
libGVars3.so.0
libGVars3.so.0.*
libGVars3_headless.a
libGVars3_headless.so
libGVars3_headless.so.0
libGVars3_headless.so.0.*
src/GStringUtil.o
src/GUI.o
src/GUI_impl_headless.o
src/GUI_impl_noreadline.o
src/GUI_no_language.o
src/GUI_non_readline.o
src/GUI_none.o
src/gvars2.o
src/gvars3.o
src/inst.o
src/serialize.o
tags
